.contact {
  padding: 0;
  list-style: none;
  textarea {
    width: 240px;
    padding: 1em 1em;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 0.9em;
    color: #666666;
  }
}
